:root {
    --primary-color: #0a3b73;
    --secondary-color: #c3eeff;
    --tercer-color: #edf6ff;
    --active-color: #22c55e;
    --white-color: #ffffff;
    --text-dark: #1f2937;
    --grey-color: #989898;
    --navbar-bg-color: #d2e2ec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    color: var(--text-dark);
}

.wrapper {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: minmax(80px, 210px) auto;
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.navbar__header {
    width: 100%;
    padding: 15px;
}

.navbar__header h2 {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.navbar__header span {
    font-size: .8rem;
    color: var(--text-dark);
}

.navbar__menu,
.navbar__footer-list {
    width: 100%;
}

.navbar__menu-list,
.navbar__footer-list {
    display: flex;
    flex-direction: column;
}

.navbar__menu-item {
    font-size: .9rem;
    /* padding-left: 7px; */
}

.navbar__menu-item a,
.navbar__footer-item a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    color: var(--text-dark);
    transition: background-color .3s, color .3s;
    position: relative;
}

.navbar__menu-item a::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    width: 10px;
    height: 100%;
    background-color: var(--white-color);
    left: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform .5s;
}

.navbar__menu-item a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.navbar__menu-item a:hover::before {
    transform: scaleY(1);
}

.navbar__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    padding-bottom: 15px;
    border-top: 1px solid var(--grey-color);
}


.navbar__footer-item a:hover {
    background-color: var(--grey-color);
    color: var(--white-color);
}

.user-session {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    gap: 10px;
}

.user-picture {
    cursor: pointer;
    max-width: 100%;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    object-position: left;
    border: 3px solid transparent;
    transition: border .3s;
}

.user-picture:hover {
    border: 3px solid var(--white-color);
}

.user-info__name {
    font-size: 1rem;
}

.user-info__cargo {
    font-size: .7rem;
    font-style: italic;
}

/* ------------------------------- DASHBOARD ------------------------------- */

.dashboard {
    background-color: var(--tercer-color);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2rem;
}

.dashboard__header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1.2rem;
}

.dashboard__header-content {
    width: fit-content;
}

.dashboard__header-content h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.dashboard__header-content p {
    font-size: 1rem;
    color: var(--text-dark);
}

.dashboard__header-menu {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 2rem;
}

.menu-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.menu-btn-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.dashboard__stats { /*Mejor plantearlo con grid*/
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}