

.Admin-layout {
    display: flex;
    min-height: 100vh;
}
.sidebar{
    width: 250px; 
    background-color: #ffffff; 
    border-right: 1px solid #e2e8f0;
    position: sticky;
    top: 0;
    height: 100vh;
}
.content-header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-bottom: 20px;
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%; 
    margin-top: 10px; 

    #searchinput {
        width: 280px; 
        padding: 6px 12px;
    }
    
    .btn-primary 
    {
       
        padding: 6px 14px; 
        font-size: 14px;
        white-space: nowrap; 
        background-color: rgb(101, 101, 235);
        border-color: #dee4eb;
    }
}

.table-container
{
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    table
    {
    width: 100%;             
    border-collapse: collapse; 
    margin-top: 20px;       
    font-size: 14px;
    thead
    {
    background-color:#dee4eb;
    font-size: 18px;
    }
    tbody
    {
    background-color:white;
    border-collapse: collapse;
    border-color: black ;
    }
    }
}